*{
  box-sizing: border-box;
  width: 100%
}
a :hover {cursor: pointer; }

header{
    display: flex;
    justify-content: center;
    width: 99;
    background-color: black;
    color: white;
    border-style: solid;
    border-color: #6e0000;
    font-family: Verdana;
    font-size: larger;
    text-align: center;
}
.navbar {
  display: flex;
  color: white;
  background-color: black;
}
.navbar ul {
  list-style: none;
}
.navbar button {
  height: 100px;
  margin-top: 0%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  background: linear-gradient(0deg, #6e0000,#000000);
  margin: 0px 0px 0px 15px;
  padding: 15px;
  float: right;
}

body {
  font-family: Arial;
  margin: 0;
}
  #logo1{
    width: 40%;
    height: 30%;
  }
  #logo2{
    width: 40%;
    height: 20%;
  }
  .home img {
    width: 40px;
    height: 40px;
  }
  #soundPara {
    text-align: left;
  }
  #soundPara p {
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small;
  }
  .home{
    display: flex;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 100%;
  }
  #intro{
    width: 100%;
    margin: 25px;
    text-align: center;
    color: white;
    background-color: black;
  }
  #intro h1{
    text-decoration-line: underline;
  text-decoration-style: solid;
  }
  .content{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 100%;
  }
  #SFMG{
    height: 100%;
    width: 33%;
    margin: 0px;
    text-align: center;
    background-color: black;
    color: white;
  }
  #GMG{
    height: 100%;
    width: 33%;
    margin: 0px;
    text-align: center;
    background-color: black;
    color: white;
  }
  #fifty{
    height: 100%;
    width: 33%;
    margin: 0px;
    text-align: center;
    background-color: black;
    color: white;
  }
  #SFMG img{
    position: absolute; top: 0px; left: 0px;
    height: 100%;
    width: 33%;
  }
  #GMG img{
    position: absolute; top: 0px; left: 33.5%;
    height: 100%;
    width: 33%;
  }
  #fifty img{
    position: absolute; top: 0px; left: 67%;
    height: 100%;
    width: 33%;
  }
  @keyframes pics{
  10% {opacity: 0.9;}
  20% {opacity: 0.8;}
  30% {opacity: 0.7;}
  40% {opacity: 0.6;}
  50% {opacity: 0.5;}
  60% {opacity: 0.4;}
  70% {opacity: 0.3;}
  80% {opacity: 0.2;}
  90% {opacity: 0.1;}
  100% {opacity: 0;}
  }
  #SFMG :hover{
    animation-name: pics;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  #GMG :hover{
    animation-name: pics;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  #fifty :hover{
    animation-name: pics;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  .AAintro{
    display: flex;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 100%;
  }
  .AAcontent{
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 100%;
  }
  #javelin{
    height: 100%;
    width: 33%;
    margin: 0px;
    text-align: center;
    background-color: black;
    color: white;
  }
  #AMR{
    height: 100%;
    width: 33%;
    margin: 0px;
    text-align: center;
    background-color: black;
    color: white;
  }
  #javelin img{
    position: absolute; top: 0px; left: 11.35%;
    height: 100%;
    width: 33%;
  }
  #AMR img{
    position: absolute; top: 0px; left: 55.65%;
    height: 100%;
    width: 33%;
  }
  #javelin :hover{
    animation-name: pics;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  #AMR :hover{
    animation-name: pics;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  .vehicleintro{
    display: flex;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 100%;
  }
  .vehiclecontent{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 100%;
  }
  #pinny{
    height: 400px;
    width: 33%;
    margin: 0px;
    text-align: center;
    background-color: black;
    color: white;
  }
  #pinny img{
    position: absolute; top: 0px; left: 33.5%;
    height: 100%;
    width: 33%;
  }
  #pinny :hover{
    animation-name: pics;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
footer{
  padding: 15px;
  text-align: right;
  background-color: rgb(12, 12, 12);
  color: white;
}
footer h4{
  text-align: left;
}
form{
text-align: left;
width: 200px;
height: 100px;
}
input[type=submit]{
  background-color: rgb(187, 4, 4);
  color: white;
  width: 100%;
  margin-top: 5px;
}




/* HOME PAGE CSS */
body
{
    background: #000;
    font-family: Arial;
    margin: 0;
}
.vid
{
    position: relative;
    width: 100%;
    min-height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0px;
}

section video
{
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
.contentHome {
  display: flex;
  flex-direction: column;
}

section h1 
{
    padding-top: 0px;
    color: #fff;
    font-size: 3em;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-color: red;
}

section p 
{
    position: relative;
    text-align: center;
    color: #fff;
    font-size: larger;
}

.Nav
{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    padding: 50px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: red;
}
a {
    color: #fff;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: red;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  font-size: x-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: red;
}

#cont {
display: flex;
justify-content: space-around;
padding-bottom: 100px;
padding-top: 200px;
border-bottom-style: solid;

}
#cont p img{
position: absolute;
padding-right: 0px;
}

#History img{
    padding-left: 0px;
    height: 500px;
    width: 500px;
  }
#Weapons img{
    height: 500px;
    width: 500px;
  }
#Fitness img{
    padding-right: 0px;
    height: 500px;
    width: 500px;
  }
#cont img {
  height: 500px;
  width: 500px;
}

button {
padding: 0;
height: auto;
width: auto;
background-color: red;
}
/* HOME PAGE ENDS */

/* CONTACT PAGE STARTS */
#topcontact
{
    width: 100%;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

#topcontact video{
  top: 0px;
  left: 0;
  width: 100%;
  height: 30%;
  object-fit: cover;
  pointer-events: none;
  padding: 0px;
  margin: 0px;
}
form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  width: 40vw;
  height: 500px;
  margin-left: 25vw;
  color: white;
  background-color:black;
}
form input {
  height: 50px;
  color: white;
  background-color: rgb(36, 36, 36);
  border-style: solid;
  border-color: rgb(151, 0, 0);
}
form textarea {
resize: none;
height: 100px;
color: white;
background-color: rgb(36, 36, 36);
border-style: solid;
border-color: rgb(151, 0, 0);
}
#transmit {
  width: 200px;
  margin-left: 250px;
  background-color: rgb(151, 0, 0)
  
}
/* CONTACT PAGE ENDS */

@media (max-width: 500px){
  .page-wrapper{
    display: block;
  }
  .nav {
    display: block;
  }
  .content{
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
}
  .AAcontent{
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}
  #SFMG img{
  position: absolute; top: 0px; left: 0px;
  width: 480px;
  height: 450px;
 }
 #GMG img{
  position: absolute; top: 480px; left: 0px;
  width: 480px;
  height: 680px;
 }
 #fifty img{
  position: absolute; top: 1190px; left: 0px;
  width: 480px;
  height: 500px;
 }
 #javelin img{
  position: absolute; top: px; left: 0px;
  width: 480px;
  height: 650px;
 }
 #AMR img{
  position: absolute; top: 670px; left: 0px;
  width: 480px;
  height: 700px;
 }
 #pinny img{
  position: absolute; top: 0px; left: 0px;
  width: 480px;
  height: 400px;
}
}